.DS_Store
node_modules
android
/dist
/functions/safepe-d8e02-firebase-adminsdk-yhzpc-231b49ab44.json

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify

src/assets/undraw_transfer_money_rywa.svg
src/assets/undraw_two_factor_authentication_namy.svg