// variables
$black: #050505;
$white: #fcfdfc;

@font-face {
  font-family: "poppins";
  src: url("../assets/Poppins-Regular.ttf");
}
.bg-black {
  background: $black;
}

.bg-white {
  background: $white;
}

.sidenav-padding {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  .sidenav-padding {
    padding-left: 0;
  }
}

#app {
  background: $white;
  font-family: poppins;
  color: $black;
}
.main-container {
  min-height: 100vh;
  position: relative;
}

.user-card {
  max-width: 300px;
  margin: 1rem auto !important;
}
.fw-medium {
  font-weight: 600 !important;
}
.d-flex {
  display: flex;
}
.jc-space-around {
  justify-content: space-around;
}
.br-30 {
  border-radius: 30px !important;
}
.pl-1 {
  padding-left: 1rem;
}

.my-3 {
  margin: 3rem 0;
}
.ml-10px-lg {
  @media (min-width: 994px) {
    margin-left: 10px;
  }
}

.ml-0 {
  margin-left: 0px !important;
}
.pl-0 {
  padding-left: 0px !important;
}
.transaction-icon {
  position: absolute !important;
  padding-left: 5px !important;
}
.m-auto {
  margin: 0 auto !important;
}
.mr-2 {
  margin-right: 2rem;
}
.mt-5 {
  margin-top: 5rem !important;
}
.pt-16 {
  padding-top: 16px;
}
.pt-5 {
  padding-top: 5px;
}
.mw-200px {
  max-width: 200px;
}
.mw-300px {
  max-width: 300px;
}
.mw-100 {
  max-width: 100% !important;
}

.avatar {
  max-width: 100px !important;
  border-radius: 50% !important;
}

.wd {
  white-space: nowrap;
}
//Disabeling the arrows in number input
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Added changes
1. Adjusted the spacing and margin of the text for the details in the user.vue
2. Added margin to the photo in the user.vue
3. Disabled arrows for the input tag when typing numbers
4. added blue color to the input line in user.vue
5. fixed the search icon and input line to the center of the text box
6. Transaction box curve
7. Transaction Amount size increased and changes color to blue
8. Dashboard box border radius adjusted to 30px for everything
9. Adjusted the dp for the profile
10.set background color and border radius for the profile
11.changed the color of signin with google
12.Added border-radius for signin with google
13.changed colors of home and about of the nav
14.aligned the transaction icons to fit properly 
15.Page under construction instead of this is an about page
*/

// color of line in input
// input:not([type]):focus:not([readonly]),
// input[type="text"]:not(.browser-default):focus:not([readonly]),
// input[type="password"]:not(.browser-default):focus:not([readonly]),
// input[type="email"]:not(.browser-default):focus:not([readonly]),
// input[type="url"]:not(.browser-default):focus:not([readonly]),
// input[type="time"]:not(.browser-default):focus:not([readonly]),
// input[type="date"]:not(.browser-default):focus:not([readonly]),
// input[type="datetime"]:not(.browser-default):focus:not([readonly]),
// input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
// input[type="tel"]:not(.browser-default):focus:not([readonly]),
// input[type="number"]:not(.browser-default):focus:not([readonly]),
// input[type="search"]:not(.browser-default):focus:not([readonly]),
// textarea.materialize-textarea:focus:not([readonly]) {
//   border-bottom: 1px solid #2196f3 !important;
//   box-shadow: 0 1px 0 0 #2196f3 !important;
// }
