// variables
$black: #050505;
$white: #fcfdfc;

@font-face {
  font-family: "poppins";
  src: url("../assets/Poppins-Regular.ttf");
}
.bg-black {
  background: $black;
}

.bg-white {
  background: $white;
}

.sidenav-padding {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  .sidenav-padding {
    padding-left: 0;
  }
}

#app {
  background: $white;
  font-family: poppins;
  color: $black;
}
.main-container {
  min-height: 100vh;
  position: relative;
}

.user-card {
  max-width: 300px;
  margin: 1rem auto !important;
}
.fw-medium {
  font-weight: 600 !important;
}
.d-flex {
  display: flex;
}
.jc-space-around {
  justify-content: space-around;
}
.br-30 {
  border-radius: 50px !important;
}
.pl-1 {
  padding-left: 1rem;
}

.my-3 {
  margin: 3rem 0;
}
.ml-10px-lg {
  @media (min-width: 994px) {
    margin-left: 10px;
  }
}
.m-auto {
  margin: 0 auto !important;
}
.mr-2 {
  margin-right: 2rem;
}
.mt-5 {
  margin-top: 5rem !important;
}
.mw-200px {
  max-width: 200px;
}
.mw-300px {
  max-width: 300px;
}
.mw-100 {
  max-width: 100% !important;
}

.avatar {
  max-width: 100px !important;
  border-radius: 50% !important;
}
